.drop-zone{
    max-width: 250px;
    height: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    color: #646a7f;
    border: 4px dashed #009578;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-left: auto;
}

.drop-zone:hover{
    border-style: solid;
  border-radius: 50px;
    transition: 0.1s;
}
.drop-zone__input {
  max-width: 300px;
  height: 150px;
}